/* cuerpo para la pagina */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* Centrar el Contenido */
.feed {
    width: 600px;
    max-width: 100%;
}

/* Encabezado  de pagina */
.page-header {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* El post*/
.post {
    background-color: white;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

/* Título y fecha */
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 0.9em;
}

.post-header h2 {
    margin: 0;
    font-weight: 600;
}

.post-header span {
    color: #999;
}

/* Imagen del post */
.post-image {
    width: 100%;
    display: block;
}

/* Descripción del post */
.post-footer {
    padding: 10px 15px;
}

.post-footer p {
    margin: 0;
    color: #333;
    font-size: 0.95em;
    line-height: 1.4;
}
